extends ../head

block head_cont
    link(rel='stylesheet', href='/css/article.css')

block content
    h3.list-title 这是文章列表
    div.article-list
        ul#article_list
            each article in rows
                li(data-id=article.ID).article-item
                    a(href='article/'+article.ID) #{article.arti_name}
                    span.article-time #{article.pub_time}
        div.article-content
    script(src='js/articlelist.js')