extends ../head

block head_cont
    link(rel='stylesheet', href='/css/index.css')
    script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src='/js/index.js')
block content
    .input-wraper
        span.input-box
            input#kw(type='text')
        a#get(href='javascript:;')|获取
    .tool-btn
        span.btn.btn-primary.getall#caiji 采集所有
    .result-list
        ul