extends  ../admin_layout

block head_cont
    script.
        var oA = document.createElement('a');
        oA.href = 'www.baidu.com';
        document.location.href = "http://localhost:8181/admin/user/add"