<!DOCTYPE html>
<html lang="zh-cn" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <!--[if lt IE 9]>
    <script src="../js/tools/modernizr.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../css/blog-common.css">
    <link rel="stylesheet" href="../css/blog.css">
    <title>{{title}}</title>
    <script src="../js/sea.js"></script>
    <script src="../js/config/config.js"></script>
</head>

<body>
{% include "include/head_nav.html" %}
<div class="body">
    <div class="inner">
        <div class="left">
            {% include "include/index_lunbotu.html" %}
            <div class="content" id="content">
                {% include "include/index_sugg_title.html" %}
                <div id="article_list">
                    {# include "include/index_sugg_article.html" #}
                </div>
            </div>
        </div>
        <div class="right">
            <section class="weimail" id="contact">
                {% include "include/index_contact.html" %}
            </section>
            <section class="ad300_100">
                {% include "include/index_right_firstad.html" %}
            </section>
            <section class="ranking" id="top10">
                {# include "include/index_top10.html" #}
            </section>
            <section class="personal_label" id="labels">
                {# include "include/index_labels.html" #}
            </section>
            <section class="suggest" id="pic_sugg">
                {# include "include/index_right_sugglist.html" #}
            </section>
            <section class="friend_link" id="friendlink">
                {% include "include/index_friendlink.html" %}
            </section>
        </div>
    </div>
</div>
{% include "include/footer.html" %}
</body>
<script>
    seajs.use('blog');
    function render(id, html) {
        document.querySelector('#' + id).innerHTML = html;
    }
</script>
</html>