<div class="banner flip-wrap" id="index_lunbo">
    <ul class="pic_list flip-items" style="width: 536px;height:224px" id="DmCarousel">
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a1.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a2.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a3.jpg" alt="">
                <div class="item-content-desc">
                    超级无敌插件轮播图~~~~~
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a4.jpg" alt="">
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a5.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a6.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a7.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a8.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
        <li class="flip-item">
            <div class="flip-item-content">
                <img src="../images/a9.jpg" alt="">
                <div class="item-content-desc">
                    文字不显示
                </div>
            </div>
        </li>
    </ul>
    <div class="flip-arrow-btn" style="display: none;">
        <a href="javascript:;" class="l_arrow"></a>
        <a href="javascript:;" class="r_arrow"></a>
    </div>
</div>