<div class="rank_tab">
    <a href="" class="active">点击排行</a>
    <a href="">最新文章</a>
    <a href="">站长推荐</a>
</div>
<div class="rank_content">
    <div class="rank_content_tab ">
        <ul>
            {% for item in data %}
            <li><i class="top t{{loop.index}}">{{loop.index}}</i><a href="/{{item.ID}}" target="_blank">{{item.arti_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="rank_content_tab disN">
        <ul>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
        </ul>
    </div>
    <div class="rank_content_tab disN">
        <ul>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
        </ul>
    </div>
</div>