doctype html
html.no-js(lang='zh-cn')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
        //if lt IE 9
            script(src='../js/tools/modernizr.min.js')
        link(rel='stylesheet', href='../css/blog-common.css')
        link(rel='stylesheet', href='../css/blog.css')
        title 博客-首页
        script(src='../js/sea.js')
    body
        header.head
            .inner
                a.logo(href='javascript:;')
                    img(src='../images/logo.png', alt='')
                nav#nav.nav
                    ul
                        li
                            a(href='index.html') 首页
                        li.cuurent
                            a(href='.') 关于我
                        li
                            a(href='allblog.html') 文章
                        li
                            a(href='everyday.html') 心情
                        li
                            a(href='') 相册
                        li
                            a(href='') 留言
                    span#textbg(style='width: 99.4px;left:110px')
        .body
            .inner.aboutMe
                .me_nav
                    a(href='') 关于我
                    span n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。
                .left
                    section.skill
                        h3 热爱代码•热爱生活
                        h5   爬了五年的坑！依然乐不此彼！
                        ul
                            li
                                | JavaScript
                            li HTML/CSS
                            li NodeJS
                            li SQL
                            li Photoshop
                    section.schoool
                        h3 对Coding充满热情
                        h5 学生时代就踏上了开发之路
                        ul
                            li
                                | JavaScript
                            li HTML/CSS
                            li NodeJS
                            li SQL
                            li Photoshop
                .right
                    section.personal_info
                        h3 WHO AM I
                        .info_box
                            ul
                                li
                                li
                                    span 姓名：
                                    | 董敏
                                li
                                    span 籍贯：
                                    | 山西-大同
                                li
                                    span 现居：
                                    | 北京-回龙观
                                li
                                    span 职业：
                                    | 前端工程师
                    section.personal_label
                        h3 个人标签
                        .label_box
                            span C++
                            span HTML5
                            span CSS3
                            span 网页设计
                            span JavsScript
                            span PHP
                            span JAVA
                            span 游戏开发
        .foot
            ul.link_list
                li
                    a(href='##') Power By NodeJS
                li
                    a(href='##') 底部链接
                li
                    a(href='##') 底部链接
                li
                    a(href='##') 底部链接
                li
                    a(href='##')  Copyright © 2015-2016 . All Rights Reserved
