aside#page_sidebar.navbar-collapse.navbar-main-collapse
    form#search_form(action='')
    nav#pNavbar.leftbar-nav
        ul.leftbar-list
            li
                a.active(href='')
                    i.fa.fa-flag
                    | 首 页
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-glass
                    | 人员管理
                    span 4
                ul(style='display: none;')
                    li
                        a.active(href='javascript:void(0);')
                            i.fa.fa-file-text
                            | Components
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-exclamation-triangle
                            | Validation
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-magic
                            | Wizard
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-flask
                            | Masked Inputs
            li.sub-menu
                a(href='javascript:void(0);')
                    i.fa.fa-font
                    | 文章管理
                    span 8
                ul(style='display: none;')
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-file-text
                            | Components
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-exclamation-triangle
                            | Validation
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-magic
                            | Wizard
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-flask
                            | Masked Inputs
                    li
                        a.active(href='javascript:void(0);')
                            i.fa.fa-file-text
                            | Components
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-exclamation-triangle
                            | Validation
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-magic
                            | Wizard
                    li
                        a(href='javascript:void(0);')
                            i.fa.fa-flask
                            | Masked Inputs
                li
                    a(href='javascript:void(0);')
                        i.fa.fa-leaf
                        | 变迁管理
                li
                    a(href='javascript:void(0);')
                        i.fa.fa-star
                        | 发布文章
                li
                    a(href='javascript:void(0);')
                        i.fa.fa-star-half-full
                        | 人员管理