header.navbar.navbar-inverse
    a.logo(href='')
    ul.navbar-nav-custom.pull-right.navbar-dm(id='')
        li.dropdown
            a.dropdown-toggle.notriangle(href='javascript:void(0)', data-toggle='dropdown', aria-expanded='false')
                i.fa.fa-envelope
            ul.dropdown-menu.dropdown-menu-left.widget
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
        li.dropdown
            a.dropdown-toggle.notriangle(href='javascript:void(0)', data-toggle='dropdown', aria-expanded='false')
                i.fa.fa-wifi
            ul.dropdown-menu.dropdown-menu-left.widget
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
        li.dropdown.emails
            a.dropdown-toggle.notriangle(href='javascript:void(0)', data-toggle='dropdown', aria-expanded='false')
                i.fa.fa-envelope
                span.label.label-warning 99+
            ul.dropdown-menu.dropdown-menu-left.widget
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
        li.dropdown.notification
            a.dropdown-toggle.notriangle(href='javascript:void(0)', data-toggle='dropdown', aria-expanded='false')
                i.fa.fa-bell
                span.label.label-danger 1
                span.label.label-warning 12
            ul.dropdown-menu.dropdown-menu-left.widget
                li.widget-header
                    a(href='#')
                        | 最近新闻
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
                li.widget-header
                    a(href='#')
                        | 一级菜单
                li.widget-item
                    a(href='#')
                        i.fa.fa-umbrella
                        |  这一个二级菜单
        li.dropdown.dropdown-user
            a.dropdown-toggle.flag(href='javascript:void(0)', data-toggle='dropdown')
                img(src='images/ico_05_1.jpg', width='30', height='30')
                b.caret
            ul.dropdown-menu.dropdown-menu-right.widget
                li
                    a(href='#')
                        i.fa.fa-user
                        | 登录
                li
                    a(href='#')
                        i.fa.fa-lock
                        | 注销
                li
                    a(href='#')
                        i.fa.fa-cog
                        | 设置
        li.dropdown.pull-right
            a(href='javascript:void(0)')
                i.fa.fa-tasks